{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %} - {{ event.name }}{% endblock %}

{% block meta_description %}
  <meta property="og:title" content="UMA Hackers Week - {{ event.name }}"/>
  <meta name="twitter:title" content="UMA Hackers Week - {{ event.name }}" />
  <meta name="twitter:description" content="{{ event.description }}" />
  <meta property="og:description" name="description" content="{{ event.description }}">
{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/activity.css' %}">
{% endblock %}

{% block content %}
<div class="container activity">

<div class="infoactivity"><span class="typeactivity">{{ event.get_kind_of_event_display }}</span>. {{ event.speaker }} {% if event.company %}<em>({{ event.company }})</em>{% endif %}</div>
<h1>{{ event.name }}</h1>

<p class="description">
{{ event.description }}
</p>

{% if event.instructions %}
<p class="description">
{{ event.instructions | safe }}
</p>
{% endif %}

<div class="row" style="margin-bottom:25px">
    <div class="col-lg-7 col-lg-offset-1">
    <p>
    {% for time in event.time.all %}
    <strong>Fecha:</strong> {{ time.get_day_display }}<br>
    <strong>Hora:</strong> {{ time.get_time_stripe_display }}<br>
    {% endfor %}
    <strong>Lugar:</strong> {{ event.venue }}<br>
    </p>
    </div>
  <div class="col-lg-4">

    {% if enroll_btn.link %}
    <a href="{{enroll_btn.link}}"><button class="btn btn-hackers all-width {{enroll_btn.class}}">{{enroll_btn.message}}</button></a>
    {% else %}
    <button class="btn btn-hackers all-width" disabled>{{enroll_btn.message}}</button>
    {% endif %}
  </div>
</div>

</div>
<div class="container container-map">
  <div id="map">
  </div>
</div>


{% endblock %}

{% block extra_body %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">

var map;

function initialize() {
  // Create a LatLng object with the center of the venue
  var venue_location = new google.maps.LatLng({{ event.venue.latitude }}, {{ event.venue.longitude }});

  var mapOptions = {
    zoom: 15,
    center: venue_location,
    scrollwheel: false,
    draggable: false,
  };
  map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

  var marker = new google.maps.Marker({
    position: venue_location,
    map: map,
    title:"{{ event.venue }}"
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

$(document).ready(function(){
  $('.inscribed').hover(
    function() {
        var $this = $(this);
        $this.data('initialText', $this.text());
        $this.text("Eliminar inscripcción");
    },
    function() {
        var $this = $(this); 
        $this.text($this.data('initialText'));
    }
  );
});

</script>


{% endblock %}
