{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{# TODO: add activity name here #}
{% block head_title %} - {% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/activity.css' %}">
{% endblock %}

{% block content %}
<div class="container activity">

<!-- TODO: implement template for all conferences -->
<div class="infoactivity"><span class="typeactivity">Conferencia</span>. Manuel Ujaldón</div>
<h1>Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA</h1>

<p class="description">
En la década anterior fuimos testigos de la irrupción de las GPUs como aceleradores de todo tipo de aplicaciones, transformándose en procesadores mucho más polivalentes que la mera visualización gráfica. El éxito de un modelo cimentado sobre la forma más eficiente de procesar los píxeles de la pantalla y pensado para desplegar paralelismo a múltiples niveles ha provocado que hoy en día la mayoría de supercomputadores del TOP500 tenga miles de GPUs en su configuración, siendo éstas a su vez responsables de un porcentaje creciente de su rendimiento. En esta charla resumiremos los principales hitos logrados por la GPU a lo largo de toda esta transformación, describiendo las alternativas de programación que lo hacen posible y tomando CUDA como eje central de las perspectivas futuras y retos a los que se enfrenta el programador.
</p>

<div class="row" style="margin-bottom:25px">
    <div class="col-lg-7 col-lg-offset-1">
    <p>
    <strong>Fecha:</strong> Lunes 7 de Abril de 2014<br>
    <strong>Hora:</strong> 10:30<br>
    <strong>Lugar:</strong> Salón de Actos de la E.T.S. Ingeniería Informática<br>
    </p>
    </div>
  <div class="col-lg-4">
    <!-- TODO: implement inscription functionality -->
    <button class="btn btn-hackers all-width">Debes acceder para inscribirte</button>
  </div>
</div>

<div id="map">
</div>

</div>
{% endblock %}

{% block extra_body %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">

var map;

function initialize() {
  var mapOptions = {
    zoom: 8,

    // TODO: change the home-page map center for activities
    center: new google.maps.LatLng(-34.397, 150.644),
    scrollwheel: false,
  };
  map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

  // TODO: add a marker to the map in the location of the school
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}
