{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid header-img">
	<div class="container">
		<div class="text">
			<!-- TODO: make the header text editable -->
			El evento para desarrolladores y estudiantes.<br>
			Del 23 al 26 de marzo en Málaga.
		</div>
	</div>
</div>

<div class="container-fluid darkzone">
	<div class="container">
	<!-- TODO: make the description text editable -->
	Seguridad informática, programación, talleres prácticos, ¡y mucho más! No te pierdas el evento para estudiantes y desarrolladores en la Universidad de Málaga, abierto gratuitamente a todo el público, del 23 al 26 de marzo de 2015. Cuatro días cargados con las últimas tecnologías y los mejores ponentes: Sergio de los Santos, Bernardo Quintero, Jorge del Casar, M. Gonzalo Claros, Ironhack...
	</div>
</div>


<div class="container-fluid lightzone" ng-app="home">

	<div class="container timetable" ng-controller="CalendarController as calendar">

	<div class="row day-selector">
		<ul id="day-selector" class="nav nav-pills">
	  		<li role="presentation" ng-class="{ active:calendar.daySelected(day.day_no) }" ng-repeat="day in calendar.events">
	  			<a href ng-click="calendar.changeDay(day.day_no)">{$ day.day_name $}</a>
	  		</li>
		</ul>
	</div>

		<div class="row">
			<div class="col-md-3 header hidden-sm hidden-xs" ng-repeat="activity in calendar.activities">
			{$ activity $}
			</div>
		</div>
		<div ng-repeat="stripe in calendar.getStripesFor(calendar.day)">
			<div class="row">
				<div class="col-md-12 hour">{$ stripe.time $}</div>
			</div>
			<div class="row">
				<div ng-repeat="event in stripe.events">
				<div class="col-md-12 header visible-sm visible-xs" ng-class="{ hiddenxs:event.empty }">{$ event.kind $}</div>
					<a ng-href="{$ event.url $}">
					<div class="col-md-3 event" ng-class="{ suscribed:event.enr, linkable:!event.empty, hiddenxs:event.empty }"> 
					<p class="text"> 
						{$ event.name $}
					</p>
					</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid darkzone">
	<!-- TODO: make the text about location editable -->
	<div class="container">
	La E.T.S. Ingeniería Informática se encuentra en el Campus de Teatinos de la Universidad de Málaga, junto al Hospital Clínico Universitario Virgen de la Victoria.<br><br>
	Tanto las conferencias como los talleres y las sesiones de juegos tendrán lugar en la Escuela, mientras que las actividades deportivas se realizarán en las instalaciones del Complejo Deportivo Universitario. Ambos edificios cuentan con cafetería y zonas de aparcamiento.<br><br>
	Se puede venir fácilmente en autobús desde el centro de la ciudad en las líneas 8, 11 o 25 de la EMT, que tienen parada en la Alameda Principal. A ella es rápido llegar desde la Estación de Autobuses, la estación de tren Málaga-María Zambrano o la estación Málaga Centro-Alameda, donde paran las líneas C-1 y C-2 de Cercanías.
	</div>
</div>

<div class="container-fluid" id="map">
	<br><br>
</div>

{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">

var map;

function initialize() {

	var etsi_inf = new google.maps.LatLng(36.715429, -4.476922);
  var mapOptions = {
    zoom: 16,
    center: etsi_inf,
    scrollwheel: false,
    draggable: false,
  };
  map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

  var marker = new google.maps.Marker({
    position: etsi_inf,
    map: map,
    title:"Escuela Técnica Superior de Ingeniería Informática"
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}