{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid header-img">
	<div class="container">
		<div class="text">
			<!-- TODO: make the header text editable -->
			El evento para desarrolladores y estudiantes.<br>
			Del 23 al 26 de marzo en Málaga.
		</div>
	</div>
</div>

<div class="container-fluid darkzone">
	<div class="container">
	<!-- TODO: make the description text editable -->
	Seguridad informática, programación, talleres prácticos, ¡y mucho más! No te pierdas el evento para estudiantes y desarrolladores en la Universidad de Málaga, abierto gratuitamente a todo el público, del 23 al 26 de marzo de 2015. Cuatro días cargados con las últimas tecnologías y los mejores ponentes: Sergio de los Santos, Bernardo Quintero, Jorge del Casar, M. Gonzalo Claros, Ironhack...
	</div>
</div>


<!-- TODO: develop calendar -->
<div class="container-fluid lightzone">
	<div class="container timetable">
		<div class="row">
			<div class="col-md-3 header hidden-sm hidden-xs">Conferencias</div>
			<div class="col-md-3 header hidden-sm hidden-xs">Talleres</div>
			<div class="col-md-3 header hidden-sm hidden-xs">Juegos</div>
			<div class="col-md-3 header hidden-sm hidden-xs">Deportes</div>	
		</div>
		<!-- 10:30 -->
		<div class="row">
			<div class="col-md-12 hour">10:30 - 12:30</div>
		</div>
		<div class="row">
			<!-- CONFERENCE-->
			<div class="col-md-12 header visible-sm visible-xs">Conferencia</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event suscribed"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- WORKSHOP -->
			<div class="col-md-12 header visible-sm visible-xs">Taller</div>
			<a>
				<div class="col-md-3 event"> 
				<p class="text"> 
				</p>
				</div>
			</a>
			<!-- GAME -->
			<div class="col-md-12 header visible-sm visible-xs">Juego</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- SPORT -->
			<div class="col-md-12 header visible-sm visible-xs">Deporte</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
		</div>

		<!-- 12:30 -->
		<div class="row">
			<div class="col-md-12 hour">12:30 - 14:30</div>
		</div>
		<div class="row">
			<!-- CONFERENCE-->
			<div class="col-md-12 header visible-sm visible-xs">Conferencia</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event suscribed"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- WORKSHOP -->
			<div class="col-md-12 header visible-sm visible-xs">Taller</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- GAME -->
			<div class="col-md-12 header visible-sm visible-xs">Juego</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- SPORT -->
			<div class="col-md-12 header visible-sm visible-xs">Deporte</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
		</div>

		<!-- 15:30 -->
		<div class="row">
			<div class="col-md-12 hour">15:30 - 17:30</div>
		</div>
		<div class="row">
			<!-- CONFERENCE-->
			<div class="col-md-12 header visible-sm visible-xs">Conferencia</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event suscribed"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- WORKSHOP -->
			<div class="col-md-12 header visible-sm visible-xs">Taller</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- GAME -->
			<div class="col-md-12 header visible-sm visible-xs">Juego</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- SPORT -->
			<div class="col-md-12 header visible-sm visible-xs">Deporte</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
		</div>

		<!-- 17:30 -->
		<div class="row">
			<div class="col-md-12 hour">17:30 - 19:30</div>
		</div>
		<div class="row">
			<!-- CONFERENCE-->
			<div class="col-md-12 header visible-sm visible-xs">Conferencia</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event suscribed"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- WORKSHOP -->
			<div class="col-md-12 header visible-sm visible-xs">Taller</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- GAME -->
			<div class="col-md-12 header visible-sm visible-xs">Juego</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
			<!-- SPORT -->
			<div class="col-md-12 header visible-sm visible-xs">Deporte</div>
			<a href="{% url 'activity' %}">
				<div class="col-md-3 event"> 
				<p class="text"> 
				Arquitecturas gráficas para altas prestaciones: Logros y perspectivas con CUDA
				</p>
				</div>
			</a>
		</div>

	</div>
</div>

<div class="container-fluid darkzone">
	<!-- TODO: make the text about location editable -->
	<div class="container">
	La E.T.S. Ingeniería Informática se encuentra en el Campus de Teatinos de la Universidad de Málaga, junto al Hospital Clínico Universitario Virgen de la Victoria.<br><br>
	Tanto las conferencias como los talleres y las sesiones de juegos tendrán lugar en la Escuela, mientras que las actividades deportivas se realizarán en las instalaciones del Complejo Deportivo Universitario. Ambos edificios cuentan con cafetería y zonas de aparcamiento.<br><br>
	Se puede venir fácilmente en autobús desde el centro de la ciudad en las líneas 8, 11 o 25 de la EMT, que tienen parada en la Alameda Principal. A ella es rápido llegar desde la Estación de Autobuses, la estación de tren Málaga-María Zambrano o la estación Málaga Centro-Alameda, donde paran las líneas C-1 y C-2 de Cercanías.
	</div>
</div>

<div class="container-fluid" id="map">
	<br><br>
</div>

{% endblock %}

{% block extra_body %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">

var map;

function initialize() {
  var mapOptions = {
    zoom: 16,
    center: new google.maps.LatLng(36.715429, -4.476922),
    scrollwheel: false,
  };
  map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

  // TODO: add a marker to the map in the location of the school
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}