{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %} - {% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
	<div class="container" style="padding-top:100px; padding-bottom:150px;">
    <h1>{% trans "Cambiar contraseña" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
{% endblock %}
