body{
	font: 300 18px/26px "Roboto",sans-serif;
	-moz-osx-font-smoothing: grayscale;
}

#hackers-week-logo{
	margin-top: 40px;
}

header{
	height: 110px;
	background-color: #192D35;
	color: #E4E4E4
}

.aux-header{
	background-color: #0A455D;
}

.container{
	padding-left: 120px;
	padding-right: 120px;
}

footer{
	background-color: #192D35;
	padding: 50px 0px 100px;
	font: 12px/19px "Roboto","Arial Light","Arial",sans-serif;
	color: #E4E4E4;
}

.social-network{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
}

.uma-logo{
	text-align: right;
}


/* Boostrap Changes */

.btn.btn-hackers{
	border-radius: 0px;
	border: 0px none;
	background-color: #0097B7;
	color: #FFF;
	text-align: center;
	font-family: "Ruda",Arial,sans-serif;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
}

.btn.btn-hackers:hover{
	background-color: #192D35;
}

.btn.btn-hackers.inscribed{
    background-color: #87AE2A;
}

.btn.btn-hackers.inscribed:hover{
    background-color: #CC1B1B;
}

.btn.btn-hackers:disabled{
    background-color: #C4C4C4;
}

#btn-login.btn-hackers:hover{
	background-color: #0097B7;
}

#btn-login{
	margin-top: 40px;
}

.alert{
	margin-bottom: 0px;
	border-radius: 0px;
}

.alert-debug {
    color: white;
    background-color: #0097B7;
    border-color: #192D35;
}




/* nav  */

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #192D35;
    color: white;
}

/* nav-pills */

.nav-pills > li > a{
	border-radius: 0px;
	color: black;
	background-color: #DFDFDF;

}

/* form required */

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: #FFF;
	background-color: #0097B7;
}

/* btn-facebook */

.btn-facebook {
    color: #FBFBFB;
    background-color: #3B5998;
    border-color: #3B5998;
    border-radius: 0px;
}

.btn-facebook, .btn-facebook:hover {
    color: #FBFBFB;
    background-color: #3B5998;
    border-color: #3B5998;
}


/* form control */

.form-control{
	border-radius: 0px;
}


@media screen and (max-width: 992px) {

	.container{
		padding-left: 70px;
		padding-right: 70px;
	}

}


@media screen and (max-width: 768px) {

	#btn-login{
		margin: 5px auto;
		clear: both;
	}
	#hackers-week-logo{
		width: 100%;
	}
    header {
        text-align: center;
    }

    footer{
    	text-align: center;
    	padding-bottom: 50px;
    }

    .container{
		padding-left: 20px;
		padding-right: 20px;
	}

    .uma-logo{
    	text-align: center;
    }
    
    .hiddenxs {
    	display: none !important;
  	}

  	.nav-pills > li {
  		float: none;
	}
	.nav-pills > li + li {
  		margin-top: 2px;
  		margin-left: 0;
	}
}