<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'staff_home' %}">STAFF Area</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if page == 'home' %} class="active"{% endif %}><a href="{% url 'staff_home' %}">Home</a></li>
        <li class="dropdown" {% if page == 'stats' %} class="active"{% endif %}>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stats <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'conferences' %}">Conferences</a></li>
            <li><a href="{% url 'workshops' %}">Workshops</a></li>
            <li><a href="{% url 'games' %}">Games</a></li>
            <li><a href="{% url 'misc' %}">Miscelanea</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'att_stats' %}">Attendance</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'mba' %}">Market Basket Analysis</a></li>
            <li><a href="{% url 'facebook' %}">Facebook</a></li>
          </ul>
        </li>
        <li{% if page == 'attendance' %} class="active"{% endif %}><a href="{% url 'attendance' %}">Attendance</a></li>
        <!--
        <li{% if page == 'attendance' %} class="active"{% endif %}><a href="#">Attendance</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>-->

    </div>
  </div>
</nav>