{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
<style type="text/css">
	
	canvas{
		width: 100% !important;
		max-width: 450px !important;
		height: auto !important;
	}
</style>
{% endblock %}

{% block head_title %} - STAFF Area{% endblock %}

{% block content %}
{% include '_staff_nav.html' with page='home' %}
<div class="container text-center lead" style="min-height:400px;">
<p style="font-size:35px;">¡{{stats.user_no}} usuario{{ stats.user_no|pluralize }} registrados!</p>


{% if stats.google_analytics %}
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<canvas id="signups_per_day" width="500" height="260"/>
		</div>
		<div class="row">
			<p>Signups</p>
		</div>
		
	</div> 
	<div class="col-md-6">
		<div class="row">
			<canvas id="google_analytics" width="500" height="260"/>
		</div>
		<div class="row">
			<p>Google Analytics: <strong style="color:rgb(220,220,220)">sessions</strong> vs <strong style="color:rgb(255,121,71)">users</strong></p>
			
		</div>
		
	</div>
</div>

{%else%}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<canvas id="signups_per_day" width="650" height="400"/>
		</div>
		<div class="row">
			<p>Signups</p>
		</div>
		
	</div> 
</div>
{% endif %}

<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<canvas id="fb-vs-nofb" width="400" height="400"/>
		</div>
		<div class="row">
			<p>FB vs no-FB</p>
		</div>
		
	</div> 
	<div class="col-sm-6">
		<div class="row">
			<canvas id="courses" width="400" height="400"/>
		</div>
		<div class="row">
			<p>University enrolment</p>
		</div>
		
	</div>
</div>

</div>

<div class="container text-center">
<h2 class="text-center">Conferences</h2>
<table class="table table-striped" id="confe-table">
	<thead> 
	<tr>
		<th class="text-center">Name</th>
		<th class="text-center hidden-xs">Speaker</th>
		<th class="text-center hidden-xs">Company</th>
		<th class="text-center hidden-xs">Conf.</th>
		<th class="text-center">Enr.</th>
	</tr>
	</thead>
	<tbody>
	{% for conference in conferences %}

	<tr>
		<td><a href="/actividad/{{ conference.slug }}/">{{ conference.name|truncatewords_html:5}}</a></td>
		<td class='hidden-xs'>{{ conference.speaker}}</td>
		<td class='hidden-xs'>{{ conference.company}}</td>
		<td class='hidden-xs'><span {% if conference.confirmed %}class="glyphicon glyphicon-ok" style="color:#7CFC00"{%else%}class="glyphicon glyphicon-remove" style="color:red"{%endif%}></td>
		<td class="text-right">{{ conference.users_enrolled.count }}</td>
	</tr>

	{% endfor %}
	</tbody>
</table>

<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<p><strong>Conference enrolment</strong></p>
		</div>
		<div class="row">
			<canvas id="conference_enrolment" width="400" height="300"/>
		</div>	
	</div> 
	<div class="col-sm-6">
		<div class="row">
			<canvas id="workshop_enrolment" width="400" height="300"/>
		</div>
		<div class="row">
			<p><strong>Workshop enrolment</strong></p>
		</div>
	</div>
</div>

<h2 class="text-center">Workshops</h2>
<table class="table table-striped" id="works-table">
	<thead>
	<tr>
		<th class="text-center">Name</th>
		<th class="text-center hidden-xs">Speaker</th>
		<th class="text-center hidden-xs">Company</th>
		<th class="text-center hidden-xs">Conf.</th>
		<th class="text-center">Enr.</th>
	</tr>
	</thead>
	<tbody>
	{% for workshop in workshops %}

	<tr>
		<td><a href="/actividad/{{ workshop.slug }}/">{{ workshop.name|truncatewords_html:5}}</a></td>
		<td class="hidden-xs">{{ workshop.speaker}}</td>
		<td class="hidden-xs">{{ workshop.company}}</td>
		<td class="hidden-xs"><span {% if workshop.confirmed %}class="glyphicon glyphicon-ok" style="color:#7CFC00"{%else%}class="glyphicon glyphicon-remove" style="color:red"{%endif%}></td>
		<td class="text-right">{{ workshop.users_enrolled.count }}</td>
	</tr>

	{% endfor %}
	</tbody>
</table>

</div>

{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">

	var colours = ['#0099CC','#FD971F','#66D9EF','#FFCC00','#0099FF','#A6E22E','#F92672','#FF0066','#8F8FB2','#006600'];
	var highlights = ['#33ADD6','#FDAC4C','#85E1F2','#FFE682','#82CDFF','#B8E858','#FA518E','#FF66A3','#B1B1C9','#4D944D'];
	
  var fb_vs_nofb = [
      {
          value: {{ stats.face_vs_noface.face }},
          color:"#3B5998",
          highlight: "#768BB7",
          label: "Using Facebook"
      },

      {
          value: {{ stats.face_vs_noface.no_face }},
          color:"#DCDCDC",
          highlight: "#EEEEEE",
          label: "W/o Facebook"
      },

  ];

  var courses = [
  		{% for course, value in stats.courses.items %}
  		{
          value: {{value}},
          color: colours[{{forloop.counter0}}],
          highlight: highlights[{{forloop.counter0}}],
          label: "{{course}}"
     	 },
  		{% endfor %}

  ];
  

  var conference_enrolment = [
  		{% for conference in conferences %}
  		{
          value: {{ conference.users_enrolled.count }},
          color: colours[{{forloop.counter0}}],
          highlight: highlights[{{forloop.counter0}}],
          label: "{{ conference.name }}"
     	 },
  		{% endfor %}

  ];

  var workshop_enrolment = [
  		{% for workshop in workshops %}
  		{
          value: {{ workshop.users_enrolled.count }},
          color: colours[{{forloop.counter0}}],
          highlight: highlights[{{forloop.counter0}}],
          label: "{{ workshop.name }}"
     	 },
  		{% endfor %}

  ];

  var signups_per_day = {
    labels: [{% for label in stats.signups_per_day.labels %}
    "{{label}}",
    {% endfor %}],
    datasets: [
        {
            label: "Signups",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [{% for data in stats.signups_per_day.data %}
    		"{{data}}",
    		{% endfor %}]
        },
    ]
	};

	{% if stats.google_analytics %}

	var google_analytics_data = {
    labels: [{% for label in stats.signups_per_day.labels %}
    "{{label}}",
    {% endfor %}],
    datasets: [     
        {
            label: "Google Analytics Sessions",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [{% for data in stats.google_analytics.sessions %}
    		"{{data}}",
    		{% endfor %}]
        },
        {
            label: "Google Analytics Users",
            fillColor: "rgba(255,143,102,0.2)",
            strokeColor: "rgba(255,121,71,1)",
            pointColor: "rgba(255,121,71,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [{% for data in stats.google_analytics.users %}
    		"{{data}}",
    		{% endfor %}]
        },
        
    ]
	};

	{% endif %}


  

    window.onload = function(){
        var ctx = document.getElementById("fb-vs-nofb").getContext("2d");
        window.fb_vs_nofb_pie = new Chart(ctx).Pie(fb_vs_nofb);
        
        var ctx = document.getElementById("courses").getContext("2d");
        window.courses_doughnut = new Chart(ctx).Doughnut(courses);

        var ctx = document.getElementById("signups_per_day").getContext("2d");
		window.signups_per_day_chart = new Chart(ctx).Line(signups_per_day);

		{% if stats.google_analytics %}

		var ctx = document.getElementById("google_analytics").getContext("2d");
		window.signups_per_day_chart = new Chart(ctx).Line(google_analytics_data);

		{% endif %}

		var ctx = document.getElementById("conference_enrolment").getContext("2d");
		window.conference_enrolment_chart = new Chart(ctx).PolarArea(conference_enrolment);

		var ctx = document.getElementById("workshop_enrolment").getContext("2d");
		window.workshop_enrolment_chart = new Chart(ctx).PolarArea(workshop_enrolment);

		


     };


	$(document).ready(function(){ 
	    $("#confe-table").tablesorter({ 
        	// sort on the first column and third column, order asc 
        	sortList: [[4,1]] 
    		}); 
	    $("#works-table").tablesorter({ 
        	// sort on the first column and third column, order asc 
        	sortList: [[4,1]] 
    		}); 
	    }); 
    

</script>
{% endblock %}