{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{# TODO: add activity name here #}
{% block head_title %} - Control{% endblock %}
{% block hide_login %}<div class="pull-right" style="margin-top:40px; font-size:20px;">Área privada</div>{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/control.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Hackers Week</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Escritorio</a></li>
        <li><a href="#">Asistencia</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Recursos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Historia</a></li>
            <li class="divider"></li>
            <li><a href="#">Guía de estilo</a></li>
            <li><a href="#">Kit de Prensa</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Coordinación general <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Permisos</a></li>
            <li><a href="#">Datos de asistentes</a></li>
            <li class="divider"></li>
            <li><a href="#">Listado</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" style="min-height:400px">


</div>
{% endblock %}

{% block extra_body %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">

</script>
{% endblock %}