{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
  <meta property="og:image" content="http://www.hackersweek.com/{% static 'img/escudo.png' %}"/>
  <meta name="twitter:image" content="http://www.hackersweek.com/{% static 'img/escudo.png' %}" />
  <meta property="og:type" content="website"/>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hackersweek" />
  <meta name="author" content="Consejo de Estudiantes - ETSI Informática (UMA)">
  <meta name="twitter:url" content="http://www.hackersweek.com{{ request.path }}" />
  <meta property="og:url" content="http://www.hackersweek.com{{ request.path }}"/>
  <meta name="keywords" content="hackersweek, desarrollo, desarrolladores, hackerweek, uma hackersweek, hackers, evento, ingeniería informática, informática, consejo de estudiantes, estudiantes, universidad, UDX, User Experience, Design, Málaga, UMA, ETSI, ETSII, ETSIIT, tecnología, conferencias, charlas, Sergio de los Santos, Rafa de la Torre, Enrique Rando, Francisco Vico, IAMUS, HTML5, Node.js, Django, Android, Angular">
  {% block meta_description %}
  <meta property="og:title" content="UMA Hackers Week"/>
  <meta name="twitter:title" content="UMA Hackers Week" />
  <meta name="twitter:description" content="Seguridad informática, programación, talleres prácticos, ¡y mucho más! Del 23 al 26 de marzo de 2015. No te pierdas el evento para estudiantes y desarrolladores en la Universidad de Málaga, abierto gratuitamente a todo el público. Cuatro días cargados con las últimas tecnologías y los mejores ponentes: Sergio de los Santos (11Paths), Rafa de la Torre (Google), Enrique Rando, Francisco Vico..." />
  <meta property="og:description" name="description" content="Seguridad informática, programación, talleres prácticos, ¡y mucho más! Del 23 al 26 de marzo de 2015. No te pierdas el evento para estudiantes y desarrolladores en la Universidad de Málaga, abierto gratuitamente a todo el público. Cuatro días cargados con las últimas tecnologías y los mejores ponentes: Sergio de los Santos (11Paths), Rafa de la Torre (Google), Enrique Rando, Francisco Vico...">
  {% endblock %}
  <meta charset="UTF-8">
  <title>UMA Hackers Week{% block head_title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <!-- Extra Head -->
  {% block extra_head %}
    {% endblock %}
  <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Ruda" rel="stylesheet" type="text/css">
</head>
<body>
{% block body %}
<header class="container-fluid">
  <div class="container">
    <a href="{% url 'home' %}"><img id="hackers-week-logo" alt="Hackers Week" src="{% static 'img/hackers-week.png' %}"></a>
    {% block hide_login %}
      {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}?next={{ request.path }}"><button id="btn-login" class="btn btn-hackers pull-right hidden-xs">Cerrar Sesión</button></a>
      {% else %}
        <a href="{% url 'account_login' %}?next={{ request.path }}"><button id="btn-login" class="btn btn-hackers pull-right hidden-xs">Iniciar Sesión</button></a>
      {% endif %}
    {% endblock %}
  </div>
</header>
<div class="container-fluid aux-header">

    {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}?next={{ request.path }}"><button id="btn-login" class="btn btn-hackers visible-xs">Cerrar Sesión</button></a>
      {% else %}
        <a href="{% url 'account_login' %}?next={{ request.path }}"><button id="btn-login" class="btn btn-hackers visible-xs">Iniciar Sesión</button></a>
    {% endif %}
  
</div>

{% if messages %}
  {% for message in messages %}
    <div class="container-fluid text-center alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{message | safe}}
    </div>
  {% endfor %}
{% endif %}


{% block content %}{% endblock %}
<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>
        Consejo de Estudiantes - ETSI Informática<br>
        Blvd. Louis Pasteur, 35<br>
        Despacho 3.2.B1<br>
        29027 Campus de Teatinos<br>
        Málaga<br>
        </p>
      </div>
      <div class="col-md-4">
        <p>
        E-mail: consejoinfuma@gmail.com<br>
        Tlf: 952 13 33 00<br>
        <img class="social-network" alt="Twitter" src="{% static 'img/twitter.png' %}">
        <img class="social-network" alt="Facebook" src="{% static 'img/facebook.png' %}">
        <img class="social-network" alt="Google+" src="{% static 'img/gplus.png' %}">
        </p>
      </div>
      <div class="col-md-4 organizer-logos">
        <a href="http://www.uma.es"><img alt="Universidad de Málaga" src="{% static 'img/uma.png' %}"></a>
        <a href="https://twitter.com/gdgmalaga"><img class="gdg" alt="GDG Málaga" src="{% static 'img/gdgmalaga.png' %}"></a>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- Extra body -->
{% block extra_body %}{% endblock %}
{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45381230-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
